<section class="section has-text-centered">
    <h1 class="title is-2">SHA1 Online</h1>
    <div class="columns is-centered">
        <!-- DESKTOP-->
        <div class="has-background-light is-hidden-mobile" style="width: 728px; height: 90px;">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-4739670084306482" data-ad-slot="5359316232"></ins>
        </div>

        <!-- MOBILE -->
        <div class="has-background-light is-hidden-tablet">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4739670084306482" data-ad-slot="8340509270" data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
    </div>
</section>
